@model IncidenciasUdec.Models.REPORTE
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Reporte</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Detalle del Reporte</h2>

        <div>
            <h3>Número de Reporte: @Model.ID</h3>
            <p>Nombre: @Model.NOMBRE</p>
            <p>Ubicación: @Model.UBICACION.NOMBRE</p>
            <p>Descripción: @Model.DESCRIPCION</p>
            <p>Tipo de Daño: @Model.TIPO_DAÑO.NOMBRE</p>
            <p>Clasificación: @Model.CLASIFICACION.NOMBRE</p>
            <img src="@Model.IMAGEN" alt="Imagen del Reporte" />
        </div>

        <!-- Formulario para actualizar el estado -->
        <h4>Actualizar Estado</h4>
        <p>Estado actual: @Model.ESTADO.NOMBRE</p>

        <form method="post" action="@Url.Action("VerReporte", "Empleado", new { idReporte = Model.ID })" enctype="multipart/form-data">
            <!-- Campos para subir una imagen y proporcionar un motivo -->
            <div class="form-group">
                <label for="imagen">Subir Imagen Resultado:</label>
                <input type="file" class="form-control" id="imagen" name="imagen">
            </div>

            <div class="form-group">
                <label for="motivo">Motivo (Si no se soluciono):</label>
                <input type="text" class="form-control" id="motivo" name="motivo">
            </div>

            <!-- Botón de enviar -->
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>

        <!-- Botón de regresar -->
        <div class="mt-4" style="text-align: center;">
            <a href="@Url.Action("Asignacion", "Empleado")" class="btn btn-secondary">Regresar</a>
        </div>
</body>
</html>
