@model IncidenciasUdec.Models.USUARIO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>USUARIO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NOMBRE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APELLIDO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APELLIDO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EMAIL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EMAIL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PASSWORD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PASSWORD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TELEFONO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TELEFONO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SEMESTRE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SEMESTRE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RESTABLECER_PASS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RESTABLECER_PASS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.USER_CONFIRMADO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.USER_CONFIRMADO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TOKEN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TOKEN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PROGRAMA.NOMBRE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PROGRAMA.NOMBRE)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
